<div class="row">
	<div class="col-xs-12">
		<div class="btn-group page-buttons">
			<button btn="danger" icon="trash" loading-click="removeBuild()">Remove build</button>
			<button btn="default" icon="cog" saving-click="retryBuild()">Retry build</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-lg-6">
		<h2>Build</h2>
		<table class="table">
			<tr>
				<td>Status</td>
				<td>
					<build-status status="build.status" finish="build.finish"></build-status>
					<div ng-if="build.finish && build.status !== 'status'" style="white-space: pre-wrap; margin-bottom: 2rem">{{ build.last_line }}
{{ build.error_message }}</div>

				</td>
			</tr>
			<tr>
				<td>Build</td>
				<td>{{ build.id }}</td>
			</tr>
			<tr>
				<td>Branch</td>
				<td>{{ build.branch }}</td>
			</tr>
			<tr>
				<td>Commit</td>
				<td>{{ build.commit_hash }}</td>
			</tr>
			<tr>
				<td>Build time</td>
				<td><buildtime start="build.start" finish="build.finish"></buildtime></td>
			</tr>
			<tr>
				<td>Build size</td>
				<td><filesize size="build.disk_usage"></filesize></td>
			</tr>
		</table>

		<h2>Results</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Command</th>
					<th>Version</th>
					<th>Os</th>
					<th>Arch</th>
					<th>Toolchain</th>
					<th>Link</th>
					<th>Size</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="build.results.length === 0">
					<td colspan="7">No results</td>
				</tr>
				<tr ng-repeat="result in build.results">
					<td>{{ result.command }}</td>
					<td>{{ result.version }}</td>
					<td>{{ result.os }}</td>
					<td>{{ result.arch }}</td>
					<td>{{ result.toolchain }}</td>
					<td><a ng-href="/results/{{ repo.name }}/{{ result.filename }}">{{ result.filename }}</a></td>
					<td><filesize size="result.filesize"></filesize></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-xs-12 col-lg-6">
		<h2>Steps</h2>
		<div ng-repeat="step in steps">
			<h3>{{ step.name }}<span ng-if="step.name !== 'success'"> (<timespent nsec="step.nsec"></timespent>)</span></h3>
			<pre style="white-space: pre-wrap">{{ step.output }}</pre>
		</div>

		<h2>Config</h2>
		<h3>build.sh</h3>
		<pre style="white-space: pre-wrap">{{ build_config.build_script }}</pre>
		<h3>test.sh</h3>
		<pre style="white-space: pre-wrap">{{ build_config.test_script }}</pre>
		<h3>release.sh</h3>
		<pre style="white-space: pre-wrap">{{ build_config.release_script }}</pre>
	</div>
</div>
