<div class="row">
	<div class="col-xs-12">
		<div class="btn-group page-buttons">
			<button btn="danger" icon="trash" loading-click="removeBuild()" ng-disabled="build.released || !build.finish">Delete build</button>
			<button btn="danger" icon="trash" loading-click="cleanupBuilddir()" ng-disabled="build.builddir_removed || !build.finish">Clean up builddir</button>
			<button btn="default" icon="cog" saving-click="retryBuild()">Rebuild</button>
			<button btn="default" icon="cog" saving-click="buildBranch()">Rebuild branch</button>
			<button btn="primary" icon="cog" saving-click="release()" ng-disabled="build.released || !build.finish">Release</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Build
				</div>
			</div>
			<table class="table table-striped">
				<tr>
					<td>Status</td>
					<td>
						<build-status status="build.status" finish="build.finish" released="build.released"></build-status>
						<div ng-if="build.finish && build.status !== 'success'" style="white-space: pre-wrap; margin-bottom: 2rem">{{ build.last_line }}
	{{ build.error_message }}</div>

					</td>
				</tr>
				<tr>
					<td>Build</td>
					<td>{{ build.id }}</td>
				</tr>
				<tr>
					<td>Branch</td>
					<td>{{ build.branch }}</td>
				</tr>
				<tr>
					<td>Commit</td>
					<td>{{ build.commit_hash }}</td>
				</tr>
				<tr>
					<td>Build time</td>
					<td><buildtime start="build.start" finish="build.finish"></buildtime></td>
				</tr>
				<tr>
					<td>Build size</td>
					<td><filesize size="build.disk_usage"></filesize></td>
				</tr>
			</table>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Results
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Command</th>
						<th>Version</th>
						<th>Os</th>
						<th>Arch</th>
						<th>Toolchain</th>
						<th>Link</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="build.results.length === 0">
						<td colspan="7">No results</td>
					</tr>
					<tr ng-repeat="result in build.results">
						<td>{{ result.command }}</td>
						<td>{{ result.version }}</td>
						<td>{{ result.os }}</td>
						<td>{{ result.arch }}</td>
						<td>{{ result.toolchain }}</td>
						<td><a ng-href="/result/{{ repo.name }}/{{ build.id }}/{{ result.filename | basename }}">{{ result.filename | basename }}</a></td>
						<td><filesize size="result.filesize"></filesize></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-12 col-lg-6">
		<h3>Steps</h3>
		<div ng-repeat="step in steps">
			<h4>{{ step.name }}<span ng-if="step.name !== 'success' && step.nsec > 0"> (<timespent nsec="step.nsec"></timespent>)</span></h4>
			<pre style="white-space: pre-wrap">{{ step.output }}</pre>
		</div>

		<h3>Config</h3>
		<h4>build.sh</h4>
		<pre style="white-space: pre-wrap">{{ buildResult.build_script }}</pre>
	</div>
</div>
