<div class="row">
	<div class="col-xs-12">
		<div class="page-buttons">
			<div class="btn-group">
				<button loading-click="newRepo()" btn="success" icon="plus-circle">New repository</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Repositories &amp; latest builds</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Repository</th>
						<th>Branch</th>
						<th>Status</th>
						<th>Version</th>
						<th>Spent</th>
						<th>Age</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody ng-if="repoBuilds.length === 0">
					<tr>
						<td colspan="7">No repos</td>
					</tr>
				</tbody>
				<tbody ng-repeat="repoBuild in repoBuilds | orderBy:youngestBuild" ng-init="active = $odd">
					<tr ng-if="repoBuild.builds.length === 0" ng-class="{active: active}">
						<td>
							<a ng-href="#/repo/{{ repoBuild.repo.name }}/">{{ repoBuild.repo.name }}</a>
						</td>
						<td colspan="6">No builds</td>
					</tr>
					<tr ng-repeat="build in repoBuild.builds" ng-class="{active: active}">
						<td>
							<a ng-if="$first" ng-href="#/repo/{{ repoBuild.repo.name }}/">{{ repoBuild.repo.name }}</a>
						</td>
						<td>{{ build.branch }}</td>
						<td>
							<span class="label" ng-class="{'label-success': build.status === 'success', 'label-danger': build.status !== 'success'}">{{ build.status }}</span>
							<div ng-if="build.finish && build.status !== 'status'" style="white-space: pre-wrap; margin-bottom: 2rem">{{ build.last_line }}
{{ build.error_message }}</div>

						</td>
						<td><span ng-if="build.results.length > 0">{{ build.results[0].version }}</span></td>
						<td>
							<buildtime start="build.start" finish="build.finish"></buildtime> / <filesize size="build.disk_usage"></filesize>
							</td>
						<td><age time="build.start"></age></td>
						<td>
							<a class="btn btn-default" ng-href="#/repo/{{ repoBuild.repo.name }}/build/{{ build.id }}/">Open</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
