<div class="row">
	<div class="col-xs-12">
		<div class="page-buttons btn-group">
			<button btn="danger" icon="trash" loading-click="removeRepo()" uib-tooltip="Remove entire repository, including all builds and releases.">Remove repo</button>
			<div class="btn-group" uib-dropdown>
				<button btn="default" icon="play" loading-click="createBuild(repo.name, 'master')" uib-tooltip="Build latest commit on master branch">Build master</button>
				<button type="button" btn="default" uib-dropdown-toggle>
					<span class="caret"></span>
					<span class="sr-only">split button</span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
					<li role="menuitem">
						<a icon="play" loading-click="createBuild(repo.name, 'develop')" uib-tooltip="Build latest commit on develop branch">Build develop</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Repository</div>
			</div>
			<div class="panel-body">
				<form saving-submit="save()">
					<div class="form-group">
						<label>Name</label>
						<input type="text" ng-model="repo.name" class="form-control" required placeholder="Name..." disabled />
					</div>

					<div class="form-group">
						<label>Origin</label>
						<input type="text" ng-model="repo.origin" class="form-control" required placeholder="git.example.com:repo.git" />
					</div>

					<div class="form-group">
						<label>Checkout path</label>
						<input type="text" class="form-control" placeholder="src/githost/repo..." ng-model="repo.checkout_path" required />
						<p class="help-block">For Go projects, you may want to match a GOPATH package path, like <tt>src/githost/user/project</tt>.</p>
					</div>

					<div class="form-group">
						<label>build.sh</label>
						<textarea class="form-control" ng-model="repo.build_script" rows="10" placeholder="#!/bin/sh
set -e
make release"></textarea>
					</div>

					<button type="submit" class="btn btn-primary" icon="save">Save</button>
				</form>

			</div>
		</div>

		<div class="bs-callout bs-callout-info">
			<p>Build.sh is run in a relatively clean environment, in the checkout directory. The following environment variables are set:</p>
			<ul>
				<li>$HOME, an empty directory</li>
				<li>$BUILDID, the build number, should be used in the resulting file names</li>
				<li>$REPONAME, the build number, should be used in the resulting file names</li>
				<li>$BRANCH, the branch of the build, empty if not yet known</li>
				<li>$COMMITHASH, the commithash, empty if not yet known</li>
				<li>$BUILDDIR, the directory where all files related to the build are stored; files are checked out in $BUILDDIR/checkout/<i>checkout-path</i>, $HOME is $BUILDDIR/home</li>
				<li>any key/value pair from the config "environment" object</li>
			</ul>
			<p>It should exit with status 0 only when successful.</p>
			<p>The standard output of the release script is parsed. Lines that match this format are treated as released files:</p>
			<blockquote><tt>"release:" command version os arch toolchain path</tt></blockquote>
			<p>The fields:</p>
			<ul>
				<li>"release:" is just the literal string <tt>release:</tt></li>
				<li><tt>command</tt> is the name of the command, as you would type it in a terminal</li>
				<li><tt>version</tt> is a semver version, x.y.z</li>
				<li><tt>os</tt> must be one of: any, linux, darwin, openbsd, windows; the OS this program can run on, any is for platform-independent tools like a jar</li>
				<li><tt>arch</tt> must be one of: any, amd64, arm64; similar to OS</li>
				<li><tt>oolchain</tt> should describe the compiler and possibly other tools that are used to build this release</li>
				<li><tt>path</tt> is the local path (either absolute or relative to the checkout directory) of the released file.</li>
			</ul>
		</div>
	</div>

	<div class="col-xs-12 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Builds</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Status</th>
						<th>Branch</th>
						<th>Results</th>
						<th>Version</th>
						<th>Build</th>
						<th>Spent</th>
						<th>Disk</th>
						<th>Age</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody ng-if="builds.length === 0">
					<tr>
						<td colspan="9">No builds</td>
					</tr>
				</tbody>
				<tbody ng-repeat="build in builds">
					<tr>
						<td><build-status status="build.status" finish="build.finish" released="build.released"></build-status></td>
						<td>{{ build.branch }}</td>
						<td><span ng-if="build.results.length === 1">1 file</span><span ng-if="build.results.length > 1">{{ build.results.length }} files</span></td>
						<td><span ng-if="build.results.length > 0">{{ build.results[0].version }}</span></td>
						<td>{{ build.id }}</td>
						<td><buildtime start="build.start" finish="build.finish"></buildtime></td>
						<td><filesize size="build.disk_usage"></filesize></td>
						<td><age time="build.start"></age></td>
						<td style="min-width: 15rem">
							<div class="btn-group">
								<button type="button" btn="default sm" icon="repeat" saving-click="createBuild(repo.name, build.branch, build.commit_hash)" uib-tooltip="Rebuild this revision"></button>
								<button type="button" btn="danger sm" icon="eraser" loading-click="cleanupBuilddir(build)" ng-disabled="build.builddir_removed || !build.finish" uib-tooltip="Clean up the working directory for this build"></button>
								<button type="button" btn="danger sm" icon="trash" loading-click="removeBuild(build)" ng-disabled="build.released || !build.finish" uib-tooltip="Remove this build"></button>
								<a ng-href="#/repo/{{ repo.name }}/build/{{ build.id }}/" btn="default sm" link-disabled="build.builddir_removed" icon="folder-open-o" uib-tooltip="Open details for this build" ng-if="!(build.builddir_removed && build.released)"></a>
								<a ng-href="#/repo/{{ repo.name }}/release/{{ build.id }}/" btn="primary sm" icon="folder-open" uib-tooltip="Open release" ng-if="build.builddir_removed && build.released"></a>
							</div>
						</td>
					</tr>
					<tr ng-if="build.status !== 'success' && build.error_message">
						<td colspan="9">
							<div style="white-space: pre-wrap; margin-bottom: 2rem">{{ build.last_line }}
{{ build.error_message }}</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-12 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Releases</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Branch</th>
						<th>Results</th>
						<th>Version</th>
						<th>Build</th>
						<th>Age</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody ng-if="releaseBuilds.length === 0">
					<tr>
						<td colspan="6">No releases</td>
					</tr>
				</tbody>
				<tbody ng-repeat="build in releaseBuilds">
					<tr>
						<td>{{ build.branch }}</td>
						<td><span ng-if="build.results.length === 1">1 file</span><span ng-if="build.results.length > 1">{{ build.results.length }} files</span></td>
						<td><span ng-if="build.results.length > 0">{{ build.results[0].version }}</span></td>
						<td>{{ build.id }}</td>
						<td><age time="build.start"></age></td>
						<td>
							<a ng-href="#/repo/{{ repo.name }}/release/{{ build.id }}/" btn="primary sm" icon="folder-open" uib-tooltip="Open release"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
