<div class="row">
	<div class="col-xs-12">
		<div class="page-buttons">
			<button btn="danger" icon="trash" loading-click="removeRepo()">Remove repo</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-lg-6">
		<form saving-submit="save()">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Repository</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label>Name</label>
						<input type="text" ng-model="repo.name" class="form-control" required placeholder="Name..." disabled />
					</div>

					<div class="form-group">
						<label>Origin</label>
						<input type="text" ng-model="repo.origin" class="form-control" required placeholder="git.example.com:repo.git" />
					</div>

					<div class="bs-callout bs-callout-info">
						The scripts below are run in a relatively clean environment. The following environment variables are set:
						<ul>
							<li>$HOME, an empty directory</li>
							<li>$BUILDID, the build number, should be used in the resulting file names</li>
						</ul>
						The scripts are run in the checkout directory. They should exit with status 0 only when successful.
					</div>

					<div class="form-group">
						<label>build.sh</label>
						<textarea class="form-control" ng-model="repo_config.build_script" rows="10" placeholder="shell script for to compile"></textarea>
					</div>

					<div class="form-group">
						<label>test.sh</label>
						<textarea class="form-control" ng-model="repo_config.test_script" rows="10" placeholder="shell script for to run tests"></textarea>
					</div>

					<div class="form-group">
						<label>release.sh</label>
						<textarea class="form-control" ng-model="repo_config.release_script" rows="10" placeholder="shell script for to create releaseable files"></textarea>
						<div class="bs-callout bs-callout-info">
							The standard output of the release script is parsed. Lines that match this format are treated as released files: <tt>"release:" command version os arch toolchain path</tt>. Where "release:" is just the literal string <tt>release</tt>. Command is the name of the command, as you would type it in a terminal. Version is a semver version, x.y.z. Os must be one of: any, linux, darwin, openbsd, windows; the OS this program can run on, any is for platform-independent tools like a jar. Arch must be one of: any, amd64, arm64; similar to OS. Toolchain should describe the compiler and possibly other tools that are used to build this release. Path is the local path (either absolute or relative to the checkout directory) of the released file.
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary" icon="save">Save</button>
				</div>
			</div>
		</form>
	</div>

	<div class="col-xs-12 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Builds</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Status</th>
						<th>Branch</th>
						<th>Results</th>
						<th>Version</th>
						<th>Build</th>
						<th>Spent</th>
						<th>Disk</th>
						<th>Age</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody ng-if="builds.length === 0">
					<tr>
						<td colspan="9">No builds</td>
					</tr>
				</tbody>
				<tbody ng-repeat="build in builds">
					<tr>
						<td><build-status status="build.status" finish="build.finish" released="build.released"></build-status></td>
						<td>{{ build.branch }}</td>
						<td><span ng-if="build.results.length === 1">1 file</span><span ng-if="build.results.length > 1">{{ build.results.length }} files</span></td>
						<td><span ng-if="build.results.length > 0">{{ build.results[0].version }}</span></td>
						<td>{{ build.id }}</td>
						<td><buildtime start="build.start" finish="build.finish"></buildtime></td>
						<td><filesize size="build.disk_usage"></filesize></td>
						<td><age time="build.start"></age></td>
						<td>
							<div class="btn-group">
								<div class="btn-group" uib-dropdown>
									<button btn="default sm" icon="cog" saving-click="retryBuild(build)">Rebuild</button>
									<button type="button" btn="default sm" uib-dropdown-toggle>
										<span class="caret"></span>
										<span class="sr-only">split button</span>
									</button>
									<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
										<li role="menuitem">
											<a icon="cog" saving-click="buildBranch(build)">Rebuild branch latest</a>
										</li>
									</ul>
								</div>
								<div class="btn-group" uib-dropdown>
									<button btn="danger sm" icon="trash" loading-click="cleanupBuilddir(build)" ng-disabled="build.builddir_removed">Cleanup</button>
									<button type="button" btn="danger sm" uib-dropdown-toggle>
										<span class="caret"></span>
										<span class="sr-only">split button</span>
									</button>
									<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
										<li role="menuitem">
											<a icon="trash" loading-click="removeBuild(build)">Delete build</a>
										</li>
									</ul>
								</div>
								<a ng-href="#/repo/{{ repo.name }}/build/{{ build.id }}/" btn="default sm" ng-disabled="build.builddir_removed">Open</a>
							</div>
						</td>
					</tr>
					<tr ng-if="build.status !== 'success' && build.error_message">
						<td colspan="9">
							<div style="white-space: pre-wrap; margin-bottom: 2rem">{{ build.last_line }}
{{ build.error_message }}</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-12 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Releases</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Branch</th>
						<th>Results</th>
						<th>Version</th>
						<th>Build</th>
						<th>Age</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody ng-if="releaseBuilds.length === 0">
					<tr>
						<td colspan="6">No releases</td>
					</tr>
				</tbody>
				<tbody ng-repeat="build in releaseBuilds">
					<tr>
						<td>{{ build.branch }}</td>
						<td><span ng-if="build.results.length === 1">1 file</span><span ng-if="build.results.length > 1">{{ build.results.length }} files</span></td>
						<td><span ng-if="build.results.length > 0">{{ build.results[0].version }}</span></td>
						<td>{{ build.id }}</td>
						<td><age time="build.start"></age></td>
						<td>
							<div class="btn-group">
								<a ng-href="#/repo/{{ repo.name }}/release/{{ build.id }}/" btn="default sm">Open</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
