<div class="modal-header">
	<button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">Open link</h4>
</div>
<form method="POST" action="{{url}}" target="_blank">
	<input ng-repeat="(key, value) in pairs" type="hidden" name="{{key}}" value="{{value}}" />
	<div class="modal-body">
		<p>{{message}}</p>
	</div>
	<div class="modal-footer">
		<button btn="primary" icon="external-link" type="submit" autofocus>{{action}}</button>
	</div>
</form>
