<div class="modal-header">
	<h4>New repository</h4>
</div>
<form role="form" saving-submit="create()">
	<div class="modal-body">
		<div class="form-group">
			<label>Origin</label>
			<input type="text" class="form-control" placeholder="git.example.com:repo.git" ng-model="repo.origin" required autofocus />
		</div>
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" placeholder="Name..." ng-model="repo.name" required ng-focus="nameAutoFill = false" ng-blur="nameAutoFill = repo.name === ''" />
		</div>
		<div class="form-group">
			<label>Checkout path</label>
			<input type="text" class="form-control" placeholder="src/githost/repo..." ng-model="repo.checkout_path" required ng-focus="checkoutpathAutoFill = false" ng-blur="checkoutpathAutoFill = repo.checkout_path === ''" />
			<p class="help-block">For Go projects, you may want to match a GOPATH package path, like <tt>src/githost/user/project</tt>.</p>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" btn="primary" icon="plus-circle">Create</button>
	</div>
</form>
