.sort {
	display: inline-block;
	font-size: 0.6em;
	color: #ccc;
	vertical-align: middle;
	.up,
	.down {
		line-height: 1;
		&.active {
			color: #333;
		}
	}
}
.sortcol {
	cursor: pointer;
	// from http: //stackoverflow.com/questions/1527751/disable-text-selection-while-pressing-shift
	user-select: none; /* CSS3 (little to no support) */
	-ms-user-select: none; /* IE 10+ */
	-moz-user-select: none; /* Gecko (Firefox) */
	-webkit-user-select: none; /* Webkit (Safari, Chrome) */
}
